@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    function toggleCatAnimation() {
        var x = document.getElementById("catAnimation");
        if (x.style.display === "none") {
            console.log(x);
            x.style.display = "block";
        } else {
            console.log(x);
            x.style.display = "none";
        }
    }
</script>

<div id="catAnimation" style="display: none;">
    <marquee behavior=scroll direction=down scrollamount=1 scrolldelay=22 height=645 style='position:absolute; left:41%; top:169px; width:100; height:645px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=6 scrolldelay=43 height=700 style='position:absolute; left:13%; top:64px; width:100; height:700px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=5 scrolldelay=13 height=535 style='position:absolute; left:79%; top:149px; width:100; height:535px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=6 scrolldelay=8 height=686 style='position:absolute; left:28%; top:194px; width:100; height:686px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=5 scrolldelay=41 height=700 style='position:absolute; left:26%; top:126px; width:100; height:700px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=4 scrolldelay=35 height=528 style='position:absolute; left:93%; top:166px; width:100; height:528px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=1 scrolldelay=44 height=546 style='position:absolute; left:28%; top:45px; width:100; height:546px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=3 scrolldelay=26 height=535 style='position:absolute; left:26%; top:88px; width:100; height:535px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=3 scrolldelay=19 height=653 style='position:absolute; left:16%; top:22px; width:100; height:653px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=3 scrolldelay=27 height=517 style='position:absolute; left:88%; top:170px; width:100; height:517px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=3 scrolldelay=29 height=619 style='position:absolute; left:11%; top:118px; width:100; height:619px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=3 scrolldelay=34 height=632 style='position:absolute; left:78%; top:25px; width:100; height:632px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=3 scrolldelay=25 height=562 style='position:absolute; left:74%; top:134px; width:100; height:562px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=6 scrolldelay=30 height=660 style='position:absolute; left:19%; top:114px; width:100; height:660px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=4 scrolldelay=30 height=628 style='position:absolute; left:27%; top:64px; width:100; height:628px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=1 scrolldelay=7 height=632 style='position:absolute; left:73%; top:111px; width:100; height:632px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=2 scrolldelay=50 height=627 style='position:absolute; left:79%; top:119px; width:100; height:627px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=3 scrolldelay=24 height=635 style='position:absolute; left:13%; top:160px; width:100; height:635px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=6 scrolldelay=7 height=512 style='position:absolute; left:21%; top:103px; width:100; height:512px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
    <marquee behavior=scroll direction=down scrollamount=2 scrolldelay=14 height=566 style='position:absolute; left:68%; top:129px; width:100; height:566px;'><img src=http://dl6.glitter-graphics.net/pub/646/646476uk3dy7vp8j.gif border=0></marquee>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome, Cat Enthusiast!🐈</h1>
    <br/>
    <h2>Cat Fact of the Day:</h2>
    <br />
    <p>@ViewData["CatFact"]</p>

    <h2>Cat Image of the Day:</h2>
    <br />   
</div>
<div class="d-flex justify-content-center">
    <img src="@ViewData["CatImage"]"
         alt="Photo of a cat" class="img-responsive img-rounded catImg"
         style="max-height: 500px; max-width: 500px;">
</div>
