# Default values for cat-encyclopedia.

replicaCount: 1

image:
  repository: guidemetothemoon/cat-encyclopedia
  pullPolicy: Always

serviceAccount:
  create: true

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations: 
    kubernetes.io/ingress.class: addon-http-application-routing
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: cat-encyclopedia.[AKS_CLUSTER_DNS_ZONE]
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
