html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: antiquewhite;
}

header, footer {
    background-color: ivory;
}

h1 {
    font-family: 'Papyrus', 'Garamond', 'Comic Sans MS';
    color: darkviolet;
    margin: 50px 0 20px 0;
}

h2 {
    font-family: 'Papyrus', 'Garamond', 'Comic Sans MS';
    color: lightseagreen;
}

p {
    font-family: 'Comic Sans MS', 'Century Gothic', 'Lucida Console';
    font-size: 22px;
    margin-bottom: 30px;
    
}

.catImg {
    border: 4px solid #ff3399;
}